<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Delete this  person all details, <%= @name.name %></h1>
    <p>
    successfully  <br>
    This person name : <%= @name.name%>.<br>
   </p>
    <p>
     This person email-address : <%= @name.email%>.<br>
   </p>
    
    
  </body>
</html>