<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h2>Hello <%= @name %>,</h2>
  <p>Your roll number is <%= @roll %>.</p>
  <p>Your address is <%= @address %>.</p>
  <p>This email is sent to you at <%= @email %>.</p>
  <p>Feel free to contact us for any further information.</p>
  <p>Regards,</p>
  <p>Your Company Name</p>
</body>
</html>
